/* scrollbar pour Chromium */
.drawer *::-webkit-scrollbar-corner {
  background-color: white;
}

.drawer *::-webkit-scrollbar-track {
  background-color: black;
}

.drawer *::-webkit-scrollbar-thumb {
  background-color: white;
}

.drawer *::-webkit-scrollbar-thumb:hover {
  background-image: url("../../images/scrollbar-gif-smooth.gif");
}

/* Style pour la scrollbar de Firefox */

.drawer * {
  scrollbar-color: white transparent;
}
