@font-face {
  font-family: "frezo";
  src: url("./ressources/frezo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
}

.frezo {
    font-family: 'frezo', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
}

/* scrollbar pour Chromium */
::-webkit-scrollbar-corner {
  background-color: white;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border: 0px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border: 0px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
  background-image: url("./images/scrollbar-gif-smooth.gif");
}

/* Style pour la scrollbar de Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}